.session-info{
  display: none;
}

.content-header content{
    display: none !important;
}

.content-header{
    display: none !important;
}

#idfb{
color: #0079c2;
margin-top: 40px;
margin-bottom: 40px;
}

h3{
  color: #0079c2 !important;
}

.idfc{
margin-bottom: 25px;
}

#hr hr-12{
display: none;
}

.econ-icon--success{
display: none !important;
color: white; 
}

.econ-icon--error{
display: none !important;
color: white; 
}

#econ-container{
background-color: #ffffff;
padding: 20px;
}

select{
border: 1px solid black !important;
}

textarea{
border: 1px solid black !important;
}

input{
border: 1px solid black !important;
}

button{
background-color: #0079c2 !important;
}

input[type='radio']:checked:after{
color: red;
background-color: green;
}

.control-label{
color: black !important;
  text-align: left !important;
}

.econ-control__label {
    text-align: left !important;
  }

.econ-checkbox__label{
color: grey !important;
}

.econ-radio__label{
color: grey !important;
}

label{
color: black !important;
}

.econ-progress{
display : none;
}

.econ-breadcrump{
display : none !important;
}

.econ-breadcrump__wrapper{
display : none !important;
}

hr{
display : none !important;
}

econ-control__label{
text-align: left !important;
}

body{
font-family : "Ingra", sans-serif !important;
}
