.session-info{
  display: none;
}

.content-header content{
    display: none;
}

#idfb{
color: #0079c2;
margin-top: 40px;
margin-bottom: 40px;
}

h3{
  color: #0079c2;
}

.idfc{
margin-bottom: 25px;
}

#hr hr-12{
display: none;
}

.econ-icon--success{
color: #0079c2;
}

#id6f{
background-color: #ffffff;
padding: 20px;
border: 2px solid #0079c2;
border-radius: 25px;
}

select{
border: 1px solid #0079c2;
}

textarea{
border: 1px solid #0079c2;
}

input{
border: 1px solid #0079c2;
}

span{
color: gray;
}
