.session-info{
  display: none;
}

.content-header content{
    display: none !important;
}

.content-header{
    display: none !important;
}

#idfb{
color: #0079c2;
margin-top: 40px;
margin-bottom: 40px;
}

h3{
  color: #0079c2 !important;
}

.idfc{
margin-bottom: 25px;
}

#hr hr-12{
display: none;
}

.econ-icon--success{
display: none !important;
color: white; 
}

.econ-icon--error{
display: none !important;
color: white; 
}

#econ-container{
background-color: #ffffff;
padding: 20px;
}

select{
border: 1px solid black !important;
}

textarea{
border: 1px solid black !important;
}

input{
border: 1px solid black !important;
}

input[type='radio']:checked:after{
color: red;
background-color: green;
}

.control-label{
color: black !important;
  text-align: left;
}

.econ-checkbox__label{
color: grey !important;
}

.econ-radio__label{
color: grey !important;
}

label{
color: black !important;
}

.econ-progress{
display : none;
}

.econ-breadcrump{
display : none !important;
}

.econ-breadcrump__wrapper{
display : none !important;
}

hr{
display : none !important;
}

econ-control__label{
text-align: left;
}

@font-face { font-family: "Ingra"; font-style: normal; font-weight: 100; src: url("../Fonts/Ingra/Ingra-Light.woff2") format("woff2"), url("../Fonts/Ingra/Ingra-Light.woff") format("woff"); }

@font-face { font-family: "Ingra"; font-style: normal; font-weight: 200; src: url("../Fonts/Ingra/Ingra-Book.woff2") format("woff2"), url("../Fonts/Ingra/Ingra-Book.woff") format("woff"); }

@font-face { font-family: "Ingra"; font-style: normal; font-weight: 400; src: url("../Fonts/Ingra/Ingra-Regular.woff2") format("woff2"), url("../Fonts/Ingra/Ingra-Regular.woff") format("woff"); }

@font-face { font-family: "Ingra"; font-style: normal; font-weight: 600; src: url("../Fonts/Ingra/Ingra-Medium.woff2") format("woff2"), url("../Fonts/Ingra/Ingra-Medium.woff") format("woff"); }

@font-face { font-family: "Ingra"; font-style: normal; font-weight: 800; src: url("../Fonts/Ingra/SemiBold.woff2") format("woff2"), url("../Fonts/Ingra/Ingra-SemiBold.woff") format("woff"); }



@font-face { font-family: "IngraCd"; font-style: normal; font-weight: 100; src: url("../Fonts/IngraCd/IngraCd-Light.woff2") format("woff2"), url("../Fonts/IngraCd/IngraCd-Light.woff") format("woff"); }

@font-face { font-family: "IngraCd"; font-style: normal; font-weight: 200; src: url("../Fonts/IngraCd/IngraCd-Book.woff2") format("woff2"), url("../Fonts/IngraCd/IngraCd-Book.woff") format("woff"); }

@font-face { font-family: "IngraCd"; font-style: normal; font-weight: 400; src: url("../Fonts/IngraCd/IngraCd-Regular.woff2") format("woff2"), url("../Fonts/IngraCd/IngraCd-Regular.woff") format("woff"); }

@font-face { font-family: "IngraCd"; font-style: normal; font-weight: 600; src: url("../Fonts/IngraCd/IngraCd-Medium.woff2") format("woff2"), url("../Fonts/IngraCd/IngraCd-Medium.woff") format("woff"); }

@font-face { font-family: "IngraCd"; font-style: normal; font-weight: 800; src: url("../Fonts/IngraCd/SemiBold.woff2") format("woff2"), url("../Fonts/IngraCd/IngraCd-SemiBold.woff") format("woff"); }

body{
font-family : "Ingra", sans-serif;
}
